@import './base.css';

.main-nav {
  position: relative;
  background-color: #ffffff;
  color: var(--txt);
  min-height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1;
  z-index: 1000;
}

.navbar-hamburger {
  background-color: #ffffff;
}
.navbar-hamburger svg {
  width: 25px;
}

.brand-link {
  padding: 8px 16px;
}
.brand-link:focus,
.brand-link:hover {
  opacity: 0.9;
}
.brand-img {
  width: 100%;
  max-width: 90px;
}

.btns {
  width: 100%;
  display: -webkit-flex;
  display: flex;
}
.btns .btn {
  margin: 2px 10px;
  max-width: fit-content;
}
.btns .btn svg {
  margin-top: -5px;
  padding-right: 5px;
  text-align: center;
  width: 22px;
  vertical-align: middle;
  line-height: 1;
}
.btn-takeout {}
.btn-location {
  margin-left: auto;
}
.btn-location svg {}
.location-txt {}

.btn-cart {
  background-color: var(--btn_bg_theme);
}
.btn-cart svg {}
.cart-txt
.cart-num {}


.btn-login {}
.btn-register {}

.sidebar {
  background-color: #ffffff;
  justify-content: flex-end;
  width: 160px;
  position: fixed;
  z-index: 999;
  top: 80px;
  bottom: 0;
  left: 0;
  padding: 10px;
  transform: -webkit-translateX(-1000px);
  transform: translateX(-1000px);
  transition: .1s ease;
}
.sidebar.show {
  transform: -webkit-translateX(0px);
  transform: translateX(0px);
}

.shadow {
  background-color: #00000033;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

/* <!-- 登出中 --> */
.nav-logouting {
}
.nav-logouting .btn-login {
  width: 100%;
}

/* <!-- 登入中 --> */
.nav-logining {
  position: relative;
  flex-wrap: wrap;
}
.nav-logining-list {
  left: -50%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.nav-logining-list li {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  padding: 5px 10px;
}
.nav-logining-list last-child li {
  border-bottom-width: 0px;
}
.nav-logining-list li a {
  display: block;
  background-color: #fff;
}
.nav-logining-list li a svg {
}
.nav-logining .btn-logout {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .nav-logining {
    display: -ms-flexbox;
    display: flex;
  }
  .nav-logining-list {
  }
  .nav-logining-list li {
  }
}

/* 頭像按鈕 */
.btn-avatar {
  background-color: transparent;
  margin: auto;
  display: block;
  position: relative;
}
.btn-avatar:hover,
.btn-avatar:focus {
  opacity: 0.9;
}
.btn-avatar .avatar-img {
  width: 100%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #ddd;
}
.btn-avatar:hover .avatar-img,
.btn-avatar:focus .avatar-img {
  border-color: #eee;
}

.navbar-collapse.show .dropdown-menu {
  display: block;
  position: relative;
  border-width: 0px;
}
/* .dropdown-toggle::after {
  content: none;
} */

/********* 
 共用
**********/
.sec-titlebox {
  text-align: center;
  padding: 2% 2% 1%;
}
.sec-title {
}
.sec-sub {
}
.form .form-group {
  background-color: unset;
  color: unset;
  border: unset;
}
label {
}
.label-txt {
}
.form-control {
}
section {
  padding: 4% 2% 6%;
}
.btn-md {
  max-width: 200px;
  width: 100%;
  display: block;
  margin: 2%;
}

/********* 
 Login 
**********/
.sec-login {
  background-color: #ffffff;
}
.sec-login a {
}

.sec-login .form .form-group {
  padding: 1rem 3rem 0.5rem;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.sec-login .form .form-group .label {
}
.sec-login .form .input-head {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.sec-login .form-control {
  margin-bottom: 0.5rem;
}
.sec-login .form .btn-submit {
  margin: 1.5rem;
}
.sec-login .btn-inline {
  margin: 0.5rem 1rem;
  background-color: transparent;
  padding: unset;
  text-decoration: underline;
}
.sec-login .btn-inline:focus,
.sec-login .btn-inline:hover,
.sec-login .btn-inline:active {
  background-color: transparent;
}

/********* 
 Password 
**********/
.sec-password {
  background-color: var(--bg_theme_dark);
}
.sec-password a {
}

.sec-password .form .form-group {
  padding: 1rem 3rem 0.5rem;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.sec-password .form .form-group .label {
}
.sec-password .form .input-head {
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.sec-password .form-control {
  margin-bottom: 0.5rem;
}
.sec-password .form .btn-submit {
  margin: 1.5rem;
}
.sec-password .btn-inline {
  margin: 0.5rem 1rem;
  background-color: transparent;
  padding: unset;
  text-decoration: underline;
}
.sec-password .btn-inline:focus,
.sec-password .btn-inline:hover,
.sec-password .btn-inline:active {
  background-color: transparent;
}

/********* 
 Footer
**********/
footer {
  background-color: var(--bg_footer);
  text-align: center;
  font-size: 1rem;
  padding: 5%;
}
