@import './base.css';



/**/
.sec-store {
  padding: 0;
}
.sec-store {
}
.sec-store .banner {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  width: 100%;
  min-height: 160px;
}

.nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.store-info {}
.store-info .store-title {}
.store-info address {} 
.store-info p {}
.store-info .tag-store {
  background-color: var(--theme_md);
  color: #fff;
  letter-spacing: 1px;
}
.store-classes {}
.class-list {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.class-list .list-item {
  flex: 0 0 ;
  padding: 0.5rem 0;
}
.class-list .list-item.active {
}
.list-item-link {
  color: var(--txt);
  text-align: left;
  padding: 5px 0;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}
.class-list .list-item.active .list-item-link {
  border-color: #000000;
}

.store-cards {
}
.store-cards .series-title {
  padding: 40px 10px 10px;
  /* margin-top: 40px; */
}
.cards {
  gap: 10px;
}
.store-card {
  padding: 10px;
  /* border-radius: 12px;
  overflow: hidden; */
  position: relative;
  background-color: #fff;
}
.store-link {
  display: block;
  color: var(--txt);
}
.store-link:hover, .store-link:focus {
  color: var(--link);
  box-shadow: 0 0 5px 5px #00000015;
}

.store-card .card-img {
  /* border-radius: 12px;
  overflow: hidden; */
}
.store-card .card-img img {
  max-width: 400px;
}
.store-card .card-info {
  padding: 10px;
}
.store-card .item-title {}
.store-card .store-prize {}
.store-link .store-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* .store-link:hover .store-btn, .store-link:focus .store-btn, .store-link:active .store-btn {
} */
.store-btn svg {
  width: 30px;
  color: #fff;
}
/* .store-link:hover .store-btn svg, .store-link:focus .store-btn svg, .store-link:active .store-btn svg {
  width: 40px;
} */